
@{
    ViewData["Title"] = "SelectAction";
}

<h1>SelectAction</h1>
<center>
    <div class="container">

        <div>
            <a href='@Url.Action("Appoint", "Test")'>
                <input type='button' value='Book a new appointment' />
            </a>
        </div>
        <br />
        <div>
            <a href='@Url.Action("Result", "Test")'>
                <input type='button' value='View Result' />
            </a>
        </div>
    </div>
</center>

