
@{
    ViewData["Title"] = "SuccessfullyBooked";
}

<h1>SuccessfullyBooked</h1>

<div class="container text-success">

    @ViewBag.Name, your appointment has been successfully booked .Your Id is: @ViewBag.Id
</div>